@import "reset.css";
@import "general.css";
@import "colors.css";

/* Home */
.container {
    width: 800px;
    margin: 0 auto;
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -150px;
    margin-left: -400px;
}
/* Header */

.items {
    position: relative;
    width: 100%;
    height: 300px;
}

.next {
    bottom: 0;
}

.next i{
    font-size: 20px;
}

.prev i{
    font-size: 20px;
}

.prev, .next {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 100;
}



.item img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: none;
}

.active img {
    display: block;
}














/* Debug */









/* MEDIAQUERY FOR RESPONIVE */

/* Desktop-First */

/* DESKTOP */
/* @media screen and (max-width: 992px) {
    
} */

/* TABLET */
/* @media screen and (max-width: 768px) {
    
} */

/* MOBILE PICCOLO */
/* @media screen and (max-width: 576px) {

} */



/* Mobile-First */

/* MOBILE PICCOLO */
/* @media screen and (min-width: 576px) {

} */

/* TABLET */
/* @media screen and (min-width: 768px) {
    
} */

/* DESKTOP */
/* @media screen and (min-width: 992px) {
    
} */


